:host {
  .card {
    &.centered {
      justify-content: center;
      text-align: center;
      row-gap: 8px;
    }

    display: flex;
    flex-wrap: wrap;
    padding: 16px 8.5px;
  }

  .word {
    flex-basis: 21%;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    ion-icon {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }
}
