:host {
  .fd {
    &__header-title {
      margin-top: -10px;
    }
    &__header-fund {
      margin-top: 10px;
      font-weight: 500;
    }
    &__fund-metrics-card {
      margin-top: 24px;
    }
    &__fund-portfolio-card {
      margin-top: 24px;
    }
    &__fund-operations-history-card {
      margin-top: 24px;
    }
    &__fund-performance-chart-card {
      margin-top: 24px;
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .delta-button {
          ion-icon {
            width: 8px;
          }
        }
      }
    }
  }
}
