:host {
  .ksc {
    padding-top: 16px;

    &__title {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .warning {
    border-color: var(--ion-color-warningdark);
    background-color: var(--ion-color-warninglight);

    ion-text {
      color: var(--ion-color-warningdark);
    }
  }

  .canceling {
    border-color: var(--ion-color-dangerdark);
    background-color: var(--ion-color-dangerlight);

    ion-text {
      color: var(--ion-color-dangerdark);
    }
  }

  .approving {
    border-color: var(--ion-color-successdark);
    background-color: var(--ion-color-successlight);

    ion-text {
      color: var(--ion-color-successdark);
    }

    ion-icon {
      position: absolute;
      right: 25px;
      top: 27px;
      font-size: 20px;
      color: var(--ion-color-successdark);
    }
  }
}
