:host {
  ion-content {
    --background: var(--ion-color-background);
  }

  ion-footer {
    background-color: var(--ion-color-background);
  }

  .hop {
    &__question {
      margin-top: 24px;
      display: flex;
      justify-content: center;
    }

    &__footer {
      border: 0.5px solid var(--ion-color-neutral50);
      border-radius: 16px 16px 0 0;
      padding: 24px 32px 22px;
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);

      &__actions {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 19px;
      }
    }
  }
}
