:host {
  .need-help {
    width: 140px;

    &__icon-buttons {
      display: flex;
      justify-content: center;
      ion-button {
        --padding-start: 10px;
        --padding-end: 10px;
        margin: 0;
      }
    }
  }
}
