:host {
  .need-help {
    width: 140px;

    &__icon-buttons {
      display: flex;
      justify-content: center;
      ion-button {
        --padding-start: 10px;
        --padding-end: 10px;
        margin: 0;
      }
      ion-icon {
        height: 28px;
        width: 28px;
      }
    }

    &__link {
      &__text {
        font-weight: var(--ux-fweight-semibold);
      }
      &__link {
        display: flex;
        justify-content: center;
      }
    }
  }
}
