.wp {
  &__title {
    color: var(--ion-color-primary);
    display: flex;
    margin-bottom: 16px;
  }

  &__cards_container {
    margin: 16px;
    background-color: var(--ion-color-white);
    border-radius: 8px;
  }

  &__description {
    color: var(--ion-color-neutral90);
    margin-top: 30px;
    white-space: pre-wrap;
  }

  &__content {
    display: block;
  }

  &__info {
    margin-top: 16px;
    width: 95%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
  }
}
