:host {
  .bic {
    &__information {
      margin-top: 16px;
      display: flex;
      align-items: center;
      padding: 10px;
      background: #e1e9fe;
      border: 1px solid var(--ion-color-info);
      border-radius: 6px;

      &__text {
        display: flex;

        ion-text {
          color: var(--ion-color-info);
        }
      }

      &__icon {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
    }
  }

  .ux-home-backup-card {
    font-size: var(--ux-fsize-14);
    font-family: var(--ux-font-lato);
    font-weight: var(--ux-fweight-regular);
    line-height: 18px;
  }

  .negrita {
    font-family: var(--ux-font-worksans);
    font-weight: var(--ux-fweight-semibold);
  }
}
