:host {
  .wr {
    &__title {
      margin-top: 24px;
    }
    &__currency-select {
      margin-top: 8px;
    }

    &__remaining-time-text {
      margin-top: 16px;
    }
    &__qr-content {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__receive-address {
      margin-top: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__share-content {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__disclaimer {
      margin-top: 24px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}
