:host {
  .ar {
    &__content {
      &__alert {
        margin-bottom: 16px;
      }

      &__link {
        margin-bottom: 48px;

        &__phrase {
          display: flex;
          flex-wrap: wrap;

          ion-label {
            color: var(--ion-color-neutral80);
          }

          &__button {
            display: flex;
            align-items: center;

            &__click {
              height: auto;
              margin-left: -8px;

              --padding-start: 8px !important;
            }
          }
        }
      }
    }

    &__footer {
      &__help-button {
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        ion-button {
          text-decoration: none;
        }
      }
    }
  }
}
