:host {
  .wsb {
    margin-bottom: 26px;

    &__card-buttons {
      display: flex;
      justify-content: center;
      align-items: start;

      &__send-card {
        margin: 0 5px;
      }

      &__buy-card {
        margin: 0 5px;
      }

      &__receive-card {
        margin: 0 5px;
      }

      &__swap-card {
        margin: 0 14px 0 5px;
      }

      .card {
        width: 78px;
        height: 78px;
      }
    }

    &__message {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      color: #54576b;
      font-weight: bold;
    }
  }
}
