:host {
  .ux_toolbar {
    --border-width: 0;
  }

  .avatar {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-left: 5px;
    border: 2px solid white;
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;

    &__logo {
      padding-top: 10px;
      max-height: 60px;
      width: 100px;
    }
  }

  .notificationQty {
    font-size: 12px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -6px;
    bottom: 3px;
    border: 1px solid #ff9100;
  }

  .wmw {
    display: flex;
    background: var(--ion-color-uxlight);
    padding: 26px 14px;
    border-radius: 8px;

    &__image {
      flex-basis: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__content {
      flex-basis: 75%;
      padding: 0px 5px;
      max-width: 90%;
    }
    &__arrow {
      flex-basis: 5%;
      display: flex;
      justify-content: center;
      align-self: center;
      color: #006eff;
    }
  }

  .toolbar_extend {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 68px;
    width: 100%;
    background-color: var(--ion-color-uxprimary);
  }

  .overlap_buttons {
    margin-top: -52px;
  }

  .two_cards {
    display: flex;
    margin-top: 16px;

    .vertical-card {
      flex-basis: 50%;
      background: var(--ion-color-uxlight);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 5px 19px 5px;
      border-radius: 8px;

      .link {
        color: var(--ion-color-primary);
        text-align: center;
        line-height: 16.8px;
        margin-top: 10px;

        .semibold {
          font-weight: var(--ux-fweight-extrabold);
        }
      }
    }
    .strategies {
      margin-right: 11px;

      &__content {
        text-align: center;
        &__title {
          line-height: 19.6px;
        }
        &__description {
          line-height: 12px;
          margin-top: 10px;

          .regular {
            font-weight: var(--ux-fweight-regular);
          }
        }
      }
    }

    .support {
      &__content {
        text-align: center;
        &__title {
          line-height: 19.6px;
        }
        &__description {
          line-height: 12px;
          margin-top: 10px;
          .regular {
            font-weight: var(--ux-fweight-regular);
          }
        }
      }
    }
  }
}
