:host {
  .urc {
    &__title {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__subtitle {
      ion-text {
        color: var(--ion-color-neutral90);
      }

      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
