:host {
  .operations-list {
    margin-bottom: 24px;
  }

  .moonpay-operations {
    margin-bottom: 4px;

    ion-text {
      color: var(--ion-color-neutral80);
    }

    &__link {
      color: var(--ion-color-neutral80);
      height: 16.42px;
    }
  }

  .sp {
    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
    }
  }
}
