:host {
  .list {
    margin: 0;
  }

  .container {
    border-radius: 8px;
    border: 0.5px solid #b0b6c7;
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
    padding: 4px;
  }

  .icg {
    &__radio_text {
      font-size: 12px;
    }

    &__img {
      padding-right: 14px;
      height: 33px;
    }

    &__toggle {
      --background-checked: var(--ion-color-info);
      --background: var(--ion-color-uxline);

      height: 22px;
      width: 42px;

      --handle-width: 17.66px;
      --handle-height: 17.66px;
    }

    &__label {
      font-weight: var(--ux-fweight-bold);
      color: var(--ion-color-dark);
    }
  }
}
