:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .dts {
    &__step_counter {
      margin-right: 13px;
      color: var(--ion-color-white);
    }

    &__button_back {
      ion-icon {
        height: 24px;
        width: 24px;
      }
    }

    &__title {
      padding: 12px 17px 12px 0;
    }
  }
}
