:host {
    .ux_header_login {
      height: 100%;
      width: 100%;
      background-image: url('../../../../../assets/img/header-login.svg');
      background-repeat: no-repeat;

      @media (max-width: 540px) {
        background-size: 1000px;
        background-position-x: 60%;
        background-position-y: 100%;
      }

      @media (min-width: 540px) {
        background-size: 1400px;
        background-position-x: 60%;
        background-position-y: 100%;
      }
  
      @media (min-width: 1140px) {
        background-size: 2000px;
        background-position-x: 70%;
        background-position-y: 95%;
      }
 
      &__content {
        z-index: 100;
        display: flex;
        width: 100%;
      }
    }

  }
  