:host {
  .tc {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-flex;

    ion-icon {
      margin-right: 6px;
    }

    ion-text {
      color: var(--ion-color-neutral80);
    }
  }

  ion-spinner {
    display: flex;
    margin: auto;
    width: 20px;
    height: 20px;
  }
}
