:host {
  ion-item {
    --border-style: none;
    --background-activated: transparent;
  }

  .spc {
    &__select {
      margin-bottom: 12px;

      &__label-provider {
        margin-bottom: 8px;
      }

      &__placeholder {
        font-size: 12px;
      }
    }
  }

  .alert-message {
    padding-bottom: 0;
  }
}
