:host {
  .tcic {
    --inner-padding-bottom: 12px;
    --inner-padding-end: 16px;
    --inner-padding-start: 16px;
    --inner-padding-top: 12px;

    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);

    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__title {
          display: flex;

          img {
            color: var(--ion-color-info);
            width: 24px;
            height: 24px;
            z-index: 99;
          }

          ion-text {
            padding-left: 20px;
            width: 100%;
          }
        }

        &__subtitle {
          display: flex;
          justify-content: space-between;
          padding-left: 43px;
          margin-top: 11px;
          color: var(--ion-color-neutral80);

          ion-icon {
            height: 24px;
            width: 24px;
          }
        }
      }

      &__action {
        margin-left: auto;
        display: flex;

        ion-icon {
          height: 24px;
          width: 24px;
        }

        ion-text {
          color: var(--ion-color-success);
          font-size: 12px;
        }
      }
    }
  }
}
