:host {
  ion-card-header {
    padding: 16px 16px 12px;
    border-bottom: 1px solid var(--ion-color-neutral10);
    display: flex;
    justify-content: space-between;

    .logout-icon {
      display: flex;
      align-items: center;
      margin-left: auto;

      ion-icon {
        font-size: 20px;
      }
    }

    ion-card-title {
      display: flex;
      align-items: center;
      color: var(--ion-color-primary);

      ion-icon {
        padding-left: 10px;
      }
    }

    .provider {
      display: flex;
      align-items: center;
      color: var(--ion-color-primary);
    }

    ion-text {
      color: var(--ion-color-neutral80);
    }
  }

  .card-content {
    padding: 8px 16px 16px;
  }

  ion-card-content {
    padding: 0;

    &.operations__content {
      padding: 8px 0 0;
    }

    .no-operations-text {
      width: 100%;
      color: var(--ion-color-neutral80);
      padding-bottom: 8px;
    }
  }
}
