.cnc {
  &__base {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      color: var(--ion-color-uxprimary);
      margin-bottom: 16px;
    }
  }

  &__showNFT {
    display: flex;
    align-items: center;

    &__img {
      height: 56px;
      width: 56px;
      border-radius: 8px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-left: 16px;

      .title {
        margin-bottom: 2px;
      }

      .subtitle {
        color: var(--ion-color-uxsemidark);
      }
    }
  }
}
