:host {
  width: 100%;

  .cib {
    // flex-direction: column;
    width: auto;
    height: auto;
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;

    &__buttons {
      &__editButton {
        margin-bottom: 20px;
        color: black;
        // --ionicon-stroke-width : 32px ;
      }
      &__icon {
        font-size: 12px;
        left: 44.68%;
        right: 53.06%;
        top: 64.94%;
        bottom: 32.1%;
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #0000000a;

      &__content {
        &__title {
          height: 40px;
          margin-bottom: 1px;
        }
      }
    }

    &__footer {
      height: 44px;
      display: flex;
      justify-content: flex-end;
      &__more_info {
        ion-icon {
          height: 10px;
        }
      }
      &__buttons {
        &__removeButton {
          margin-right: auto;
          color: rgba(186, 186, 186, 1);
          font-size: 16px;
        }
      }
    }
  }
}

//   .cib {

//     height: 135px;
//     width: 100%;
//     background-color: var(--ion-color-uxlight);
//     border-radius: 8px;
//     cursor: pointer;
//     margin-right: 15px;
//     margin-left: 15px;
//     margin-top: 25px;
//     flex-direction: column;

//     &__main {
//       display: flex;
//       justify-content: space-between;
//       border-bottom: 1px solid #0000000a;

//       &__content {
//         &__editButton {
//           margin-bottom: 110px;
//           position: absolute;
//           left: 38.3%;
//           right: 59.44%;
//           top: 9.16%;
//           bottom: 87.87%;
//         }
//         &__text {
//           margin-top: px;
//         }
//       }

//       // &__image {
//       //   min-width: 114px;
//       //   justify-self: flex-end;
//       // }
//     }

//     &__footer {
//       height: 65px;
//       display: flex;
//       justify-content: flex-end;
//       &__more_info {
//         margin-top: 15px;
//         margin-bottom: 15px;
//         ion-icon {
//           height: 10px;
//         }
//       }
//     }
//   }
// }
