:host {
  .user-profile-card {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;

    .user-data {
      display: flex;
      align-items: center;

      .user-img {
        min-height: 48px;
        max-width: 48px;
        min-width: 48px;
        max-height: 48px;
      }

      .user-mail {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-width: 110px;
        max-width: auto;
        margin-left: 16px;

        ion-text {
          color: var(--ion-color-primary);
        }
      }
    }
  }
}
