.style-error {
  background-color: var(--ion-color-dangerlight);
  .text {
    color: var(--ion-color-dangerdark);
  }
  .pcc_content {
    display: table;
    background: var(--ion-color-dangerlight);
    width: 100%;
    height: auto;
    &__important {
      display: flex;
      width: 100%;
      height: auto;
      &__image {
        margin-left: 18px;
        width: 25px;
        justify-content: center;
        display: flex;
      }
      &__title {
        width: 70%;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: center;
        flex-direction: row;
        display: flex;
      }
      &__button {
        margin-right: 5px;
        align-items: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        &__button_color {
          color: var(--ion-color-dangerdark);
        }
      }
    }
  }
}

.style-success {
  background-color: var(--ion-color-successlight);
  .text {
    color: var(--ion-color-successdark);
  }
  .pcc_content {
    background: var(--ion-color-successlight);
    width: 100%;
    height: 52px;
    &__important {
      display: flex;
      width: 100%;
      height: auto;
      &__image {
        margin-left: 18px;
        width: 25px;
        justify-content: center;
        display: flex;
      }
      &__title {
        padding-top: 16px;
        padding-bottom: 16px;
        width: 70%;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: center;
        flex-direction: row;
        display: flex;
      }
      &__button {
        margin-right: 5px;
        align-items: center;
        display: flex;
        align-items: center;
        flex-direction: row;
        &__button_color {
          color: var(--ion-color-successdark);
        }
      }
    }
  }
}

.style-atention {
  background-color: var(--ion-color-warninglight);
  .text {
    color: var(--ion-color-warningdark);
  }
  .pcc_content {
    background: var(--ion-color-warninglight);
    width: 100%;
    height: auto;
    &__important {
      display: flex;
      width: 100%;
      height: auto;
      &__image {
        margin-top: 14px;
        height: 22px;
        margin-left: 18px;
        width: 15px;
        justify-content: flex-start;
        display: flex;
      }
      &__title {
        width: 70%;
        height: auto;
        padding-top: 16px;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: row;
        display: flex;
      }
    }
    &__message {
      width: 280px;
      padding-top: 8px;
      padding-bottom: 16px;
      margin-top: 8px;
      height: auto;
      justify-content: center;
      margin-left: 48px;
    }
  }
}

.style-information {
  background-color: var(--ion-color-infolight);
  .text {
    color: var(--ion-color-infodark);
  }
  .pcc_content {
    background: var(--ion-color-infolight);
    width: 100%;
    height: auto;
    &__important {
      display: flex;
      width: 100%;
      height: 100%;
      &__image {
        margin-top: 14px;
        height: 22px;
        margin-left: 18px;
        width: 16px;
        justify-content: flex-start;
        display: flex;
      }
      &__title {
        width: 70%;
        height: auto;
        margin: 16px;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: row;
        display: flex;
      }
    }
    &__details_link {
      margin-left: 35px;
      justify-content: center;
      margin-top: 0px;
      height: 40px;
      width: 100%;
      &__link {
        color: var(--ion-color-infodark);
        &__icon {
          font-size: 14px;
          margin-left: 4px;
        }
      }
    }
  }
}

.style-errorv3 {
  background-color: var(--ion-color-dangerlight);
  .text {
    color: var(--ion-color-dangerdark);
  }
  .pcc_content {
    background: var(--ion-color-dangerlight);
    width: 100%;
    height: auto;
    &__important {
      display: flex;
      width: 100%;
      height: auto;
      &__image {
        margin-top: 14px;
        height: 22px;
        margin-left: 18px;
        width: 15px;
        justify-content: flex-start;
        display: flex;
      }
      &__title {
        width: 70%;
        padding-top: 8px;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: row;
        display: flex;
      }
    }
    &__message {
      width: 280px;
      padding-top: 8px;
      padding-bottom: 8px;
      height: auto;
      justify-content: center;
      margin-left: 48px;
    }
  }
}

.style-items-error {
  background-color: var(--ion-color-dangerlight);
  .text {
    color: var(--ion-color-dangerdark);
  }
  .pcc_content {
    background: var(--ion-color-dangerlight);
    width: 100%;
    height: 144px;
    &__important {
      display: flex;
      width: 100%;
      height: 30px;
      &__image {
        margin-top: 14px;
        height: 22px;
        margin-left: 18px;
        width: 15px;
        justify-content: flex-start;
        display: flex;
      }
      &__title {
        width: 70%;
        padding-top: 16px;
        padding-bottom: 8px;
        margin-left: 14px;
        font-weight: 600;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: row;
        display: flex;
      }
    }
    &__items {
      width: 280px;
      padding-top: 8px;
      padding-bottom: 16px;
      height: auto;
      justify-content: flex-start;
      margin-left: 22px;
    }
  }
}
