.iq {
  --inner-padding-end: 0;
  --padding-start: 0;

  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;

    &__img {
      width: 24px;
      height: 24px;
    }

    &__pair {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &__symbol {
        flex: 1;
      }

      &__name {
        color: var(--ion-color-neutral80);
      }
    }

    &__price {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 2px;

      ion-text {
        text-align: end;
      }

      &__negative {
        color: var(--ion-color-dangerdark);
      }

      &__positive {
        color: var(--ion-color-successdark);
      }
    }
  }
}

ion-item::part(native) {
  background-color: var(--ion-color-white) !important;
}
