:host {
  .xcapit_header_trama {
    display: flex;
    background-image: linear-gradient(#e77331, #f4583b);
    height: 100%;
    width: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-image: url('src/assets/img/header-trama/item-trama.svg');
      background-repeat: repeat;
      background-size: 80px auto;
      opacity: 0.12;
      width: 100%;
      height: 100%;
    }
    .xcapit_header_content {
      z-index: 100;
      display: flex;
      width: 100%;
    }
  }
}
