:host {
  .cyc {
    border: none;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px rgb(28 45 94 / 10%);
    border-radius: 16px;

    &__image {
      display: flex;
      justify-content: center;
    }

    &__cumulative-yields {
      margin-left: 8px;
      width: 100%;

      ion-skeleton-text {
        border-radius: 16px;
      }

      ion-text,
      span {
        color: var(--ion-color-successdark);
      }
    }
  }
}
