:host {
  .cs {
    --background: var(--ion-background-colorwhite);
    box-shadow: none;
    border: 1px solid var(--ion-color-uxmedium);
    padding-left: 20.5px;
    padding-right: 20.5px;
    &__img {
      display: flex;
      justify-content: center;
    }

    &__title {
      margin-top: 16px;
      text-align: center;
    }

    &__text {
      margin-top: 8px;
      text-align: center;
    }
  }
}
