.form_component {
  height: 100%;
}

.title {
  margin-bottom: 16px;
}

.info {
  margin-bottom: 10px;

  ion-text {
    color: var(--ion-color-neutral90);
  }
}

.footer {
  text-align: center;
  box-shadow: 0 0 16px rgb(28 45 94 / 20%);
  border-radius: 8px;
  padding: 16px 16px 24px;

  &__submit-button {
    display: flex;

    &__button {
      flex-grow: 1;
    }
  }
}
