:host {
  .wbci {
    background-color: var(--ion-color-white);
    display: flex;
    align-items: stretch;
    border-radius: 8px;

    &__img {
      height: 33px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 16px;

      &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name-label {
          display: flex;

          ion-badge {
            margin-left: 8px;
          }
        }
      }

      &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
