:host {
  .cslm {
    .title {
      padding-top: 10px;
      font-weight: var(--ux-fweight-extrabold);
    }

    .message {
      padding-top: 10px;
    }

    &__input {
      border-bottom: 1px solid var(--ion-color-uxline);
    }

    &__input-error {
      height: 63px;
    }

    &__buttons {
      display: flex;
      justify-content: flex-end;

      &__cancel {
        color: var(--ion-color-info);
        min-width: 0;
      }

      &__confirm {
        color: var(--ion-color-info);
        min-width: 0;
      }
    }
  }
}
