:host {
  .kpi {
    &__buy {
      margin-right: 16px;
      margin-left: 16px;
      margin-top: 16px;

      &__accordion-group {
        margin-top: 8px;
        margin-bottom: 38px;
        border: 0.5px solid var(--ion-color-neutral50);
        border-radius: 8px;

        &__accordion {
          border-radius: 8px;

          &__item {
            --border-radius: 8px;
            --background: transparent;
            --padding-start: 16px;
            --padding-top: 8px;
            --padding-bottom: 8px;

            &__header {
              display: flex;
              align-items: center;
              width: 100%;

              img {
                margin-right: 8px;
                height: 20px;
                width: 20px;
              }

              &__coin {
                display: flex;
                flex-direction: column;
                gap: 6px;

                &__value {
                  font-family: var(--ux-font-worksans);
                  font-size: var(--ux-fsize-16);
                  color: var(--ion-color-neutral90);
                }

                &__network {
                  font-family: var(--ux-font-worksans);
                  font-size: var(--ux-fsize-12);
                }
              }

              &__value {
                margin-left: auto;
                font-family: var(--ux-font-worksans);
                font-size: var(--ux-fsize-16);
                color: var(--ion-color-neutral90);
              }
            }

            &__content {
              display: flex;
              flex-direction: column;
              gap: 10px;

              &__data {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &__value {
                  color: var(--ion-color-neutral90);
                }
              }
            }
          }
        }
      }
    }
  }
}
