:host {
  .nr {
    &__submit-button {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-button {
        width: 100%;
      }
    }
    &__title {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }
}
