:host ::ng-deep {
  .ion-accordion-toggle-icon {
    margin: auto;
  }
}

.gpc {
  position: relative;

  &__card {
    margin: 8px 16px 0;

    &__accordion {
      background-color: var(--ion-color-info);
      border-radius: 8px;

      &__item {
        --inner-padding-start: 16.5px;
        --inner-padding-bottom: 8px;
        --inner-padding-top: 8px;

        &__content {
          display: flex;
          flex-direction: column;
          gap: 8px;

          &__nft-text {
            display: flex;
            justify-content: center;
          }

          ion-text {
            color: white;
          }

          &__nft {
            position: relative;
            z-index: 2;
          }
        }
      }

      &__list {
        background-color: var(--ion-color-info);

        &__item {
          --background: var(--ion-color-info);

          &__ulist {
            border-top: 1px solid var(--ion-color-neutral50);
            margin-top: 0;
            margin-left: 72px;
            padding-top: 8px;
            padding-left: 12px;
            color: white;

            li ion-text {
              color: white;
            }
          }
        }
      }
    }
  }
}
