:host {
  .nsc {
    background: transparent;
    padding: 0;

    &__networks {
      margin-top: 8px;
    }

    &__disclaimer {
      margin-top: 8px;

      ion-text {
        color: var(--ion-color-neutral80);
        line-height: 18px;
      }
    }
  }
}
