:host {
  ion-tab-bar {
    height: 56px;
    --background: var(--ion-color-uxlight);
  }
  ion-tab-button {
    --color: #0000008a;
    --color-selected: var(--ion-color-uxprimary);

    font-family: var(--ux-font-lato);
    font-weight: 400;
    font-size: 12px;
    ion-icon {
      height: 19px;
      margin-bottom: 2px;
    }
  }
}
