:host {
  .label {
    font-weight: var(--ux-fweight-semibold);
  }
  ion-tab-bar {
    height: 56px;
    --background: var(--ion-color-uxlight);
  }
  ion-tab-button {
    --color: #0000008a;
    --color-selected: var(--ion-color-uxprimary);
    ion-icon {
      height: 24px;
      margin-bottom: 2px;
    }
  }
}
