:host {
  ion-content {
    --background: var(--ion-color-neutral10);
  }

  .ux-card {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .toggle {
    ion-text {
      color: var(--ion-color-neutral90);
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card-title {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 16px;

    ion-text {
      color: var(--ion-color-primary);
    }

    &__text {
      margin-left: 12px;
    }
  }

  .remove-account {
    margin-top: 8px;
  }

  .notifications_form {
    ion-toggle {
      --track-background: var(--ion-color-neutral50);
      --track-background-checked: var(--ion-color-info);
    }

    ion-text {
      color: var(--ion-color-neutral90);
    }

    ion-item {
      .notifications_text {
        margin-left: 16px;
      }
    }
  }

  .language {
    ion-text {
      color: var(--ion-color-neutral90);
    }
  }

  .version {
    &__content {
      display: flex;
      justify-content: space-between;
      margin: 30px 10px 0;

      &__text {
        color: var(--ion-color-neutral50);
      }
    }

    &__update {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;

      &__text {
        text-decoration: none;
      }
    }
  }
}
