:host {
  .iih {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;

    &__icon {
      width: 28px;
      height: 28px;

      ion-icon {
        width: 28px;
        height: 28px;
      }
    }

    &__content {
      display: flex;
      flex-grow: 1;
      margin-left: 8px;
      justify-content: space-between;

      &__amount {
        text-align: right;
      }
    }
  }
}
