:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  .vc {
    &__button-back {
      ion-icon {
        height: 24px;
        width: 24px;
      }
    }

    &__provider {
      background-color: var(--ion-color-alt-6);
      text-align: center;
      color: var(--ion-color-white);
      padding: 4px 0;
    }

    &__progress {
      height: 9px;
      background: var(--ion-color-neutral50);
    }

    &__container {
      &__description {
        margin-top: 8px;

        ion-text {
          color: var(--ion-color-primary);
        }
      }

      &__image {
        img {
          width: 100%;
          height: 100%;
        }

        margin: 36px 42px 0;
        text-align: center;
      }

      &__items {
        margin-left: -16px;

        ion-text {
          color: var(--ion-color-primary);
        }
      }
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__take-photo {
        display: flex;
        padding: 12px 16px 6px;

        &__button {
          flex-grow: 1;
        }
      }

      &__upload-button {
        display: flex;
        padding: 0 16px 20px;

        ion-button {
          border: none;
        }

        ion-button:hover {
          color: var(--ion-color-info);
        }

        &__button {
          flex-grow: 1;
        }
      }
    }
  }
}
