:host {
  .wsc {
    margin: 0 16px 16px;
    border-radius: 8px;
    border: 0.5px solid;
    border-color: var(--ion-color-neutral50);
    box-shadow: 0 2px 8px rgb(74 117 247 / 5%);
    overflow: hidden;
    background: var(--ion-color-white);

    &__title {
      text-align: center;
      color: #54576b;
      font-weight: var(--ux-fweight-bold);
    }

    &__img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 36px;
    }

    &__card-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;

      &__receive-card {
        width: 78px;
        height: 88px;
      }

      &__buy-card {
        margin-left: 16px;
        width: 78px;
        height: 88px;
      }
    }

    &__buttons {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
    }
  }
}
