:host {
  .tipc {
    &__container {
      display: flex;
      align-items: center;
      width: 100%;

      &__timestamp {
        margin-left: auto;

        ion-text {
          color: var(--ion-color-neutral50);
        }
      }

      &__img {
        width: 41px;
        height: 41px;
        margin-top: 3px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        ion-text {
          color: var(--ion-color-primary);
        }

        ion-badge {
          --padding-start: 4px;
          --padding-end: 4px;
          --color: var(--ion-color-warningdark);

          font-family: var(--ux-font-worksans);
          font-weight: var(--ux-fweight-semibold);
          line-height: 14.08px;
          font-size: var(--ux-fsize-12);
          border-radius: 4px;
          height: 21px;

          --background: var(--ion-color-warninglight);
        }
      }
    }
  }

  .single-card {
    --inner-padding-top: 8px;
    --inner-padding-bottom: 8px;
    --border-radius: 8px;

    box-shadow: 0 2px 8px rgb(74 117 247 / 5%);
  }
}
