:host {
  ion-toolbar.ux_toolbar__left {
    ion-title {
      padding-left: 16px;
    }
  }

  .b {
    &__buttons {
      &__button {
        margin-right: 6px;

        ion-text {
          color: var(--ion-color-white);
        }
      }
    }
  }

  ion-content {
    iframe {
      overflow: hidden;
    }
  }
}
