.style-atention {
  background-color: rgba(239, 246, 255, 1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  .text {
    color: #1e40af;
  }
  .pcc_content {
    background: rgba(239, 246, 255, 1);
    width: auto;
    height: auto;
    &__important {
      display: flex;
      width: 100%;
      /*height: 25px;*/
      &__image {
        margin-top: 14px;
        height: 22px;
        margin-left: 18px;
        width: 15px;
        justify-content: flex-start;
        display: flex;
      }
      &__title {
        width: 70%;
        height: auto;
        padding-top: 16px;
        margin-left: 14px;
        padding-bottom: 16px;
        font-size: 14px;
        align-items: flex-start;
        flex-direction: row;
        display: flex;
      }
    }
    &__message {
      width: auto;
      padding-top: 8px;
      margin-top: 8px;
      padding-bottom: 16px;
      height: auto;
      justify-content: center;
      margin-left: 48px;
    }
  }
}
