:host {
  .ss {
    --background: var(--ion-color-neutral10);

    &__transaction-summary-card {
      margin-top: 24px;
    }

    &__send_button {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
