:host {
  .odc {
    padding: 24px 16px 20px;

    &__header {
      display: inline-flex;
      margin-bottom: 31px;
      width: 100%;

      div {
        margin-top: auto;
        margin-bottom: auto;
      }

      &__logo {
        height: 32px;
        width: 32px;
        margin-right: 12.33px;
      }

      &__status-chip {
        margin-right: 12px;
        margin-left: auto;
      }
    }

    &__detail {
      &__header {
        margin-bottom: 4px;
      }

      &__content {
        width: 100%;
        margin-bottom: 12px;
        display: inline-flex;

        &__left {
          margin-left: auto;
        }

        ion-text {
          color: var(--ion-color-neutral90);
          overflow: auto;
        }
      }
    }
  }
}
