:host {
    width: 100%;
    .ux-card {
        background-color: var(--ion-color-uxlight);
        border-radius: 8px;
        margin-top: 10px;
        &__amount {
            padding: 24px 14px;
            display: flex;
            &__amount {
                font-size: 14px;
                border-bottom: 1px solid #BABABA;
                display: flex;
                align-items: flex-start;
                width: 30%;
            }
            &__info {
                font-size: 12px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-flow: column wrap;
                color: #BABABA;
                margin-left: 36px;
                line-height: 18px;
                &__description {
                    color: #7A7878;
                }
            }
        }
        &__price {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #BABABA;
            font-size: 14px;
            padding: 0 14px 24px 14px;
            &__dark {
                color: #7A7878;
                margin-left: 15px;
            }
        }
        &__user-amount {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            padding-bottom: 24px;
        }
    }

    .button-next {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 16px;
    }
}