.qc {
  margin-top: 8px;
  border-radius: 8px;
  min-height: 28px;
  width: 100%;

  &__title {
    margin-bottom: 8px;

    ion-label {
      color: var(--ion-color-neutral80);
    }
  }

  ion-text.positive {
    color: var(--ion-color-successdark);
    text-align: end;
  }

  ion-text.negative {
    color: var(--ion-color-dangerdark);
    text-align: end;
  }

  ion-accordion-group {
    width: 100%;

    ion-accordion {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    padding: 16px 16px 8px;
    background-color: var(--ion-color-white);
    box-shadow: 0 2px 8px rgb(28 45 94 / 10%);

    &__accordeon {
      width: 100%;
      border-radius: 8px;

      --background: transparent;

      &__list {
        border-radius: 8px;

        &__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 4px;

          ion-label {
            color: var(--ion-color-neutral80);
          }
        }

        &__accordion {
          margin-top: 8px;
        }

        &__container {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: center;

      ion-button {
        text-decoration: none;
      }
    }
  }

  .table-header {
    width: 100%;
    margin-bottom: 0;
    flex-direction: row;
    display: flex;
    text-align: start;
    font-weight: var(--ux-fweight-regular);

    .ion-label {
      margin: 0;
      flex: 1;
    }

    ion-label.right {
      margin-right: 0;
      text-align: end;
    }

    ion-text {
      flex: 1;
    }

    ion-text.center {
      flex-direction: column;
      text-align: start;
    }
  }

  .symbol {
    flex: 1;
  }

  ion-item::part(native) {
    background-color: var(--ion-color-white) !important;
  }
}
