:host {
  .cyc {
    display: flex;
    flex-direction: row;

    &__image {
      display: flex;
      justify-content: center;
    }

    &__yields {
      margin-left: 8px;

      ion-text,
      span {
        color: var(--ion-color-successdark);
      }
    }
  }
}
