:host {
  .ic {
    &__img {
      padding-right: 14px;
      height: 33px;
      width: 47px;
    }

    &__toggle {
      --background-checked: var(--ion-color-info);
      --background: var(--ion-color-uxline);

      height: 22px;
      width: 42px;

      --handle-width: 17.66px;
      --handle-height: 17.66px;
    }

    &__badge {
      margin-top: 2px;
      align-items: center;
      justify-content: center;
      color: var(--ion-color-infodark);
      font-family: var(--ux-font-worksans);
      font-size: var(--ux-fsize-10);
    }
  }
}
