:host {
  .akt {
    &__title {
      margin-top: 8px;
    }

    &__text_before {
      margin-top: 16px;
    }

    &__text_before_2 {
      margin-top: 16px;
    }

    &__steps_container {
      width: 100%;
      margin-top: 24px;

      &__steps {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
    }

    &__text_after {
      margin-top: 24px;
    }

    &__text_help {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
