:host {
  .akt {
    &__title {
      margin-top: 8px;
    }

    &__text_before {
      margin-top: 16px;
    }

    &__text_before_2 {
      margin-top: 16px;
    }

    &__steps_container {
      width: 100%;
      margin-top: 24px;
      &__steps {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
    }

    &__text_after {
      margin-top: 24px;
    }

    &__text_help {
      margin-top: 24px;
      &__text {
        font-size: 12px;
      }
      &__link {
        display: flex;
        ion-button {
          font-size: 12px;
          font-weight: 600;
          color: var(--ion-color-uxsecondary);
          text-decoration: none;
        }
      }
    }
    &__next_button {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 16px;
    }
  }
}
