:host {
  width: 100%;

  .cib {
    // flex-direction: column;
    height: 151px;
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;
    cursor: pointer;
    &__main {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #0000000A;
      &__content {
        &__text {
          margin-top: 8px;
        }
      }

      &__image {
        min-width: 114px;
        justify-self: flex-end;
      }
    }

    &__footer {
      height: 44px;
      display: flex;
      justify-content: flex-end;
      &__more_info {
        ion-icon {
          height: 10px;
        }
      }
    }
  }
}
