:host {
  .xcapit_input_container {
    padding-top: 15px;
    &__label {
        font-weight: 600;
        font-size: 0.9rem;
    }

    &__item {
      border: 1px solid var(--ion-color-xclight-shade);
      border-radius: 10px;
      margin-top: 5px;
      --inner-border-width: 0;
      --highlight-background: none;
      &.ion-valid {
        border: 1px solid var(--ion-color-xcsecondary);
      }
      &.ion-invalid.ion-touched {
        border: 1px solid var(--ion-color-danger);
      }
    }
  }
}
