:host {
  .main {
    padding-top: 8px;
    height: 100%;

    .button {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  .required-fields {
    margin-top: 8px;

    ion-text {
      color: var(--ion-color-neutral80);
    }
  }

  .disclaimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 40.5px;

    .text {
      ion-text {
        color: var(--ion-color-neutral80);
      }

      ion-button {
        margin: 0;
        height: 18px;
        width: fit-content;

        --padding-start: 0;
        --padding-end: 0;
      }
    }

    .icon {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 12px;
    }
  }

  .title {
    margin-bottom: 16px;
  }

  .info {
    margin-bottom: 10px;

    ion-text {
      color: var(--ion-color-neutral90);
    }
  }

  .footer {
    text-align: center;
    box-shadow: 0 0 16px rgb(28 45 94 / 20%);
    border-radius: 8px 8px 0 0;
    padding: 16px 16px 24px;

    &__submit-button {
      display: flex;

      &__button {
        flex-grow: 1;
      }
    }
  }
}
