:host {
  .ni {
    &__item {
      padding: 12px 16px;
      overflow: visible;
      box-shadow: 0 2px 8px rgb(28 45 94 / 5%);

      --background-activated: none;
      --background-focused: none;
      --background-hover: none;
      --padding-start: 0;
      --detail-icon-color: var(--ion-color-info);
      --detail-icon-opacity: 1;

      &__badge {
        position: absolute;
        top: -21px;
        right: 5px;
        background-color: var(--ion-color-warninglight);
        color: var(--ion-color-warningdark);
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__title {
          color: var(--ion-color-primary);
        }

        &__description {
          color: var(--ion-color-neutral80);
        }
      }
    }
  }
}
