:host {
  .ppt {
    --background: var(--ion-color-neutral10);

    ion-item {
      display: flex;
      padding-left: -3%;
      align-items: flex-start;

      --margin-bottom: 8px;
      --padding-start: 0;
      --padding-right: 0;
    }

    .item {
      position: relative;
      margin: left 0%;
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;

        &__button {
          flex-grow: 1;
        }
      }
    }
  }
}
