:host {
  .ppt {
    --background: var(--ion-color-neutral10);

    ion-item {
      display: flex;
      padding-left: -3%;
      align-items: flex-start;

      --margin-bottom: 8px;
      --padding-start: 0;
      --padding-right: 0;
    }

    .item {
      position: relative;
      margin: left 0%;
    }
  }
}
