:host {
  .ux-border-card {
    margin: 0 16px 12px;
    padding: 16px;
    border: 0.5px solid var(--ion-color-neutral50);
    border-radius: 8px;
  }

  .upi {
    &__card {
      &__personal-data {
        .description {
          margin-top: 4px;
          margin-bottom: 8px;

          ion-text {
            color: var(--ion-color-neutral90) !important;
          }
        }

        .first {
          margin-top: 0;
        }

        .last {
          margin-bottom: 0;
        }

        &__edit {
          display: flex;
          align-items: center;

          &__edit-button {
            position: absolute;
            right: 18px;
          }
        }
      }
    }
  }
}
