.ux-alert-confirm {
  .alert-wrapper {
    .alert-head {
      h2 {
        color: var(--ion-color-uxprimary);
        font-weight: var(--ux-font-worksans);
        font-size: var(--ux-fsize-20);
      }
    }
    .alert-message {
      font-family: var(--ux-font-lato);
      font-size: var(--ux-fsize-16);
      font-weight: var(--ux-fweight-regular);
      color: var(--ion-color-uxsemidark);
    }
    .alert-button-group {
      .alert-button {
        border: none;
      }
      .primary-button,
      .secondary-button {
        font-family: var(--ux-font-worksans);
        font-size: var(--ux-fsize-14);
        font-weight: var(--ux-fweight-bold);
      }
      .primary-button {
        color: var(--ion-color-info);
      }
      .secondary-button {
        color: var(--ion-color-uxsemidark);
      }
    }
  }
}
