// Card para referidos
.ux-card {
  --ion-background-color: var(--ion-color-white);

  background: var(--ion-color-white);
  border-radius: 8px;
  border: 0.5px solid var(--ion-color-neutral50);
}

// Card del nuevo brandbook
.ux-card-new {
  --background: var(--ion-color-white);

  border-radius: 8px;
  box-shadow: none;
  border: 1px solid var(--ion-color-neutral50);
}

// Stepper
.stepper-card {
  margin-top: -4rem;
  box-shadow: none;
}
