// Weight
.ux-fweight-regular {
  font-weight: 400;
}

.ux-fweight-medium {
  font-weight: 500;
}

.ux-fweight-semibold {
  font-weight: 600;
}

.ux-fweight-bold {
  font-weight: 700;
}

.ux-fweight-extrabold {
  font-weight: 800;
}

// Size
.ux-fsize-8 {
  font-size: 8px;
}

.ux-fsize-10 {
  font-size: 10px;
}

.ux-fsize-11 {
  font-size: 11px;
}

.ux-fsize-12 {
  font-size: 12px;
}

.ux-fsize-14 {
  font-size: 14px;
}

.ux-fsize-15 {
  font-size: 15px;
}

.ux-fsize-16 {
  font-size: 16px;
}

.ux-fsize-18 {
  font-size: 18px;
}

.ux-fsize-20 {
  font-size: 20px;
}

.ux-fsize-22 {
  font-size: 22px;
}

.ux-fsize-24 {
  font-size: 24px;
}

.ux-fsize-40 {
  font-size: 40px;
}
