//Fuentes Antiguas
.ux-font-gilroy {
  font-family: var(--ux-font-gilroy);
}

.ux-font-lato {
  font-family: var(--ux-font-lato);
}

//Fuente Nueva

.ux-font-worksans {
  font-family: var(--ux-font-worksans);
}
