// Header pantallas
.ux_toolbar ion-title {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-18);
  font-weight: var(--ux-fweight-semibold);
  color: var(--ion-color-neutral90);
  color: var(--ion-color-white);
  text-align: center;
}

// Estilo de la toolbar para el diseño ux
.ux_toolbar {
  --min-height: 60px;

  &.ux_toolbar__left ion-title {
    text-align: left !important;
    padding-left: 60px;
  }

  &__step {
    color: var(--ion-color-white);
    margin-right: 16px;
  }

  &__rounded {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.ux_round_toolbar {
  --min-height: 60px;

  border-radius: 0 0 8px 8px;

  &.ux_toolbar__left ion-title {
    text-align: left;
    padding-left: 52px;
  }
}
