.hidden {
  --ion-color-neutral10: transparent;

  background-color: transparent;
}

.hidden-visibility {
  visibility: hidden !important;
}

.transparent-background {
  --ion-color-neutral10: transparent !important;
}
