:host {
  .os {
    --background: var(--ion-color-background);

    &__disclaimer {
      &__item {
        display: flex;

        --inner-border-width: 0;
        --inner-padding-end: 0;
        --background-activated: none;
        --background: var(--ion-color-background);

        margin-bottom: 16px;

        ion-checkbox {
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }

        ion-label {
          font-size: 12px;
          line-height: 18px;
          z-index: 3;
        }
      }

      &__item:last-child {
        margin-bottom: 10px;
      }
    }
  }

  ion-footer {
    box-shadow: 0 0 16px rgb(28 45 94 / 20%);
    border-radius: 8px;

    .button-next {
      display: flex;
      flex-direction: column;
    }
  }

  .no-border {
    border: none;
    box-shadow: 0 2px 8px rgb(28 45 94 / 10%);
  }
}
