:host {
  justify-content: flex-start !important;

  .xcapit-logo {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    height: 56px;
  }

  .main {
    margin-top: 8px;
    overflow: auto;

    &__reset_password__button {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }

    &__go_to_register {
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }
  }

  .auth-button {
    margin-top: 24px;
  }

  .login-title {
    margin-top: 24px;
    margin-left: 16px;
  }

  .or-text {
    color: #0000008a;
  }
}
