:host {
  justify-content: flex-start !important;
  .xcapit-logo {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    height: 56px;
  }

  .main {
    margin-top: 8px;
    overflow: auto;
    &__reset_password__button {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }

    &__go_to_register {
      margin-top: 24px;
      text-decoration: underline var(--ion-color-info);
    }
  }

  .auth-button {
    margin-top: 24px;
  }

  .login_title {
    margin-top: 24px;
    margin-left: 16px;
  }

  .or-text {
    color: #0000008a;
  }

  .google-auth {
    padding-bottom: 16px;
    margin-top: 16px;

    &__button {
      --background: white;
      --color: black;
      --background-hover: lightgray;
      --background-focused: lightgray;
      --background-activated: lightgray;
      --border-radius: 0;

      &__text {
        margin-left: 8px;
      }

      &__icon {
        margin-right: 8px;
      }
    }
  }
}
