:host {
  .app_xcapit_logo {
    width: 50%;
    margin: auto;
    align-self: center;
    max-width: 400px;
    min-width: 200px;
  }

  .app_header_trama {
    height: calc(100vh - 60%);
    width: 100vw;
  }

  .app_language_button {
    position: absolute;
    top: 5px;
    right: 3px;
  }

  .login_button {
    --border-radius: 5px;
  }

}
