:host {
  .saic {
    background: var(--ion-color-white);
    border-radius: 8px;
    padding-bottom: 20px;
    border: 1px solid var(--ion-color-neutral50);
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);

    --ion-color-neutral10: var(--ion-color-white);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      display: flex;
    }

    &__fee {
      margin-top: 16px;

      &__title {
        padding-bottom: 4px;

        ion-text {
          color: var(--ion-color-primary);
        }
      }

      &__text {
        padding-bottom: 4px;

        ion-text {
          color: var(--ion-color-neutral80);
        }
      }

      &__fee {
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;

        &__amount {
          color: var(--ion-color-neutral90);
          margin-right: auto;
        }

        &__reference_amount {
          color: var(--ion-color-neutral90);
        }
      }
    }
  }
}
