:host {
  width: 100%;

  .wtsc {
    &__list {
      width: inherit;
      background-color: var(--ion-color-white);
      box-shadow: 0 2px 8px rgb(28 45 94 / 10%);
      border-radius: 16px;
      padding: 8px 16px 10px;

      &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11.5px 0;

        &__image {
          &__round {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin: 0;
          }
        }

        &__content {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 13px;

          &__upper {
            margin: 0;
            border-radius: 8px;
            height: 16px;
          }

          &__lower {
            margin-bottom: 0;
            border-radius: 8px;
            height: 12px;
            width: 55%;
          }
        }
      }
    }
  }
}
