:host {
  .wp {
    &__title {
      margin-top: 24px;
    }
    &__form {
      &__input {
        margin-top: 16px;
      }
      &__disclaimer {
        margin-top: 16px;
      }
      &__buttons {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
