:host {
  .wp {
    padding: 16px 32px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__close_button {
        margin: 0;
        color: var(--ion-color-medium);
        font-size: var(--ux-fsize-16);

        --padding-end: 0;
      }
    }

    &__description {
      margin-top: 8px;
    }

    &__form {
      &__input {
        margin-top: 8px;
      }

      &__disclaimer {
        margin-top: 16px;
      }

      &__buttons {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
