:host {
  .wp {
    &__header {
      display: flex;
      justify-content: space-between;

      &__text {
        padding-top: 8px;
      }

      &__close_button {
        margin: 0;
        color: rgb(186, 186, 186);
        font-size: 16px;

        --padding-end: 0;
      }
    }
    &__form {
      &__input {
        margin-top: 16px;
      }
      &__disclaimer {
        margin-top: 16px;
      }
      &__buttons {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
