:host {
    width: 100%;
    .fpc {
        margin-top: 8px;
        background-color: var(--ion-color-uxlight);
        border-radius: 8px;
        &__content {
            display: flex;
            
        }
    }
}