:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  ion-footer {
    box-shadow: 0 0 16px rgb(28 45 94 / 20%);
  }

  .hide {
    display: none;
  }

  .ch {
    &__empty-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 64px;
      gap: 16px;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title,
        &__subtitle {
          color: var(--ion-color-neutral80);
        }
      }
    }

    &__content {
      margin: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__item {
        --padding-start: 0;
        --inner-padding-end: 0;

        &__wrapper {
          display: flex;
          gap: 12px;

          &__data {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &__networks {
              display: flex;
              column-gap: 8px;
              row-gap: 2px;
              flex-wrap: wrap;
              margin-top: 4px;

              app-token-network-badge {
                display: flex;
                align-items: center;
              }
            }

            &__title {
              display: flex;
              align-items: center;
              gap: 8px;

              ion-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              app-token-network-badge {
                display: flex;
              }
            }

            &__subtitle {
              margin-top: 8px;
              display: flex;

              ion-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
