:host {
  --background: var(--ion-color-white);
  --ion-background-color: var(--ion-color-white);

  .un {
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 62px;

      &__close {
        position: absolute;
        top: 8px;
        right: 8px;
      }

      &__title {
        margin-top: 30px;
      }
    }

    &__body {
      margin-top: 24px;
      padding-left: 16px;
      padding-right: 16px;

      &__news-item {
        margin-top: 16px;
      }
    }
  }
}
