:host {
  .header-background {
    background-color: var(--ion-color-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 86px;
    z-index: -1;
    position: relative;
  }

  .dp {
    --background: var(--ion-color-background);

    &__content {
      width: 100vw;

      &__card {
        margin-top: -40px;
        margin-bottom: 30px;
        text-align: -webkit-center;

        &__body {
          max-width: 80%;
          border-radius: 8px;
          box-shadow: 0 0 16px rgb(28 45 94 / 20%);
          display: flex;
          background: var(--ion-color-white);
          padding: 16px;
          background-size: cover !important;

          &__image {
            justify-content: center;
            width: 50px;
            display: flex;
          }
        }

        &__information {
          width: 100%;
          display: flex;
          margin-left: 6px;

          &__text {
            &__title {
              display: flex;

              ion-icon {
                margin-left: 5px;
              }
            }

            &__amount {
              display: flex;
              align-items: flex-end;

              .text-usd {
                margin-left: 5px;
              }
            }
          }

          .text {
            display: grid;
            text-align: start;
            color: var(--ion-color-successdark);
          }
        }
      }
    }

    &__amount {
      display: contents;

      &__content {
        ion-text:first-child {
          margin-right: -10px;
          color: var(--ion-color-success);
        }

        ion-text:last-child {
          margin-right: 10px;
          color: var(--ion-color-success);
        }
      }

      &__eye {
        margin-bottom: 5px;
      }
    }

    &__subheader {
      text-align: center;
      background-color: var(--ion-color-primary);

      &__title {
        ion-text {
          color: var(--ion-color-white);
        }
      }
    }

    &__available-card-skeleton,
    &__active-card,
    &__available-card {
      margin-right: 16px;
      margin-left: 16px;
      padding-bottom: 8px;
      background-color: var(--ion-color-white);
      border-radius: 8px;
      border: 0.5px solid var(--ion-color-neutral50);
      min-height: 28px;
      box-shadow: 0 2px 8px rgb(74 117 247 / 5%);

      ion-skeleton-text {
        margin: 16px;
        height: 29px;
        padding-bottom: 8px;
      }

      ion-item[slot='header'] {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: var(--ion-color-white);
        width: 100%;

        ion-label {
          background-color: var(--ion-color-white);
          font-family: var(--ux-font-worksans);
          font-size: var(--ux-fsize-18);
          font-weight: var(--ux-fweight-semibold);
          color: var(--ion-color-primary);
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
    }

    &__available-card {
      margin-top: 24px;
      border: none;
      box-shadow: 0 2px 8px rgb(28 45 94 / 10%);
    }

    &__active-card {
      background: var(--ion-color-infolight);
      border: none;
      filter: drop-shadow(0 2px 8px rgb(28 45 94 / 10%));

      ion-item::part(native) {
        background-color: var(--ion-color-infolight) !important;
      }

      ion-item[slot='header'] {
        ion-label {
          background-color: var(--ion-color-infolight) !important;
        }
      }
    }

    &__no_investments {
      display: grid;
      text-align: center;
      margin: 0 62px 16px;
      justify-items: center;
      gap: 8px;

      ion-text {
        font-weight: var(--ux-fweight-bold);
      }
    }

    &__link {
      margin: 24px 16px;
      display: flex;
      justify-content: center;
    }

    &__empty {
      text-align: center;
      margin-top: 24px;

      &__text {
        margin-top: 24px;
        margin-bottom: 16px;

        ion-text {
          color: var(--ion-color-neutral80);
        }
      }
    }

    &__weekly-profit-disclaimer {
      padding: 0 10px;
      margin-top: 8px;
    }

    &__gains {
      padding-left: 16px;
      margin-top: 21px;
      color: var(--ion-color-neutral80);
      font-weight: var(--ux-fweight-bold);
    }

    &__balance_items {
      margin-bottom: 16px;
    }

    &__weeklygains {
      padding-left: 16px;
      margin-top: 16px;
      color: var(--ion-color-neutral80);
      font-weight: var(--ux-fweight-bold);
    }
  }

  ion-item::part(native) {
    background-color: var(--ion-color-white) !important;
  }

  .no-border {
    --border-width: 0 !important;
  }
}
