:host {
  .ux_input_container {
    padding-top: 16px;
    &__label {
      font-weight: 600;
      font-size: 12px;
      font-family: var(--ux-font-lato);
      color: #0000008a; // Color negro con opacity 0.54
    }

    &__item {
      height: 48px;
      border: 1.5px solid #0000000a;
      border-radius: 7px;
      --background: #0000000a;
      --inner-border-width: 0;
      --highlight-background: none;

      &.item-has-focus {
        border: 1.5px solid var(--ion-color-uxsecondary);
        --background: #ffffff;
      }

      &__error_icon {
        width: 20px;
        height: 20px;
      }

      &__eye_icon {
        background: transparent;
        ion-icon {
          font-size: 22px;
          color: #00000061;
        }
        outline: none !important;
      }
    }
  }
}
