:host {
  .ux_input_container {
    padding-top: 16px;

    &__item {
      height: 100%;
      border: 1.5px solid var(--ion-color-uxprimary);
      border-radius: 7px;
      --background: #0000000a;
      --inner-border-width: 0;
      --highlight-background: none;

      &.item-has-focus {
        border: 1.5px solid var(--ion-color-uxsecondary);
        --background: #ffffff;
      }

      &__error_icon {
        width: 20px;
        height: 20px;
      }

      &__eye_icon {
        background: transparent;
        ion-icon {
          font-size: 22px;
          color: var(--ion-color-uxdark);
        }
        outline: none !important;
      }
    }
  }
}
