:host {
  .oli {
    &__coin {
      ion-text {
        display: flex;
        gap: 4px;
      }

      &__wrapper {
        &__image {
          margin-bottom: -4px;
          height: 20px;
          width: 20px;
        }

        &__operation-type {
          position: absolute;
          z-index: 1000;
          bottom: 14px;
          left: 6px;
        }
      }
    }
  }

  .row {
    --padding-end: 0;
    --padding-start: 0;
    --inner-padding-start: 8px;
    --inner-padding-end: 4px;
    --inner-padding-bottom: 14px;
    --inner-padding-top: 14px;
    --border-color: var(--ion-color-neutral10);

    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 0 8px 8px;

    ion-label {
      margin: 0;
      flex: 1;

      ion-text {
        flex: 1;
      }
    }

    ion-label.end {
      text-align: end;
    }
  }

  .highlight {
    border: 0.5px solid var(--ion-color-warningdark);
  }
}
