:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .sdsd {
    &__step_counter {
      margin-right: 13px;
      color: var(--ion-color-white);
    }
  }

  .ux_button {
    margin-top: 24px;
  }
}
