:host {
  ion-header {
    position: absolute !important;
    top: 0;
    --background: none;
  }

  ion-content {
    --offset-top: -145px !important;
    background: var(--ion-background-color) !important;
  }

  .tos-text {
    z-index: 1;
    font-weight: 600;

    &__label {
      display: flex;
      justify-content: center;
      font-family: var(--ux-font-lato);
      color: #0000008a;
      font-size: 12px;
      z-index: 1;
      margin: 0;
      margin-top: 20px;
      width: fit-content;
    }

    &__button {
      float: right;
      height: auto;
      font-size: 12px;
      min-width: 0px;
      margin: 0;
      --padding-start: 0.35em;

      .button-native {
        padding-right: 0 !important;
      }
    }
  }

  .app_header_register {
    height: 90px;
    width: 100%;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__app_xcapit_logo {
        align-self: flex-start;
        margin-left: 16px;
        margin-top: 48px;
        width: 30%;
        max-width: 400px;
        min-width: 100px;

        img {
          width: 100%;
          max-width: 200px;
        }
      }
    }
  }

  .register_title {
    margin-top: 24px;
    margin-left: 16px;
  }

  .auth-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    font-family: var(--ux-font-lato);
    color: #0000008a;
  }

  .main {
    &__back_login__button {
      float: right;
      height: auto;
      font-size: 12px;
      min-width: 0px;
      margin: 0;
      .button-native {
        padding-right: 0 !important;
      }
    }
  }
}
