:host {
  .aic {
    background: var(--ion-color-white);

    --ion-background-color: var(--ion-color-white);

    &__content {
      margin-top: -16px;

      &__contact {
        margin-top: 24px;
      }

      &__helpText {
        color: var(--ion-color-neutral80);
        padding: 4.23px 24px 32.24px;
      }

      &__validator {
        display: flex;
        width: 100%;
        padding-top: 6px;
        align-items: flex-start;

        img,
        ion-icon {
          margin-right: 6px;
        }

        ion-text {
          color: var(--ion-color-dangerdark) !important;
        }
      }

      &__contact-button {
        margin-top: 8px;

        --background-activated: var(--ion-color-white);
        --background: var(--ion-color-white);

        text-decoration: none;

        ion-icon {
          margin-right: 4px;
        }
      }
    }

    &__info {
      margin-top: 0 !important;
      margin-bottom: 18px;
    }

    &__header {
      display: flex;
      flex-direction: column;

      &__subtitle {
        color: var(--ion-color-neutral80);
      }
    }
  }
}
