:host {
  .nsm {
    &__network {
      display: flex;

      ion-label:last-child {
        margin-left: 5px;
        color: var(--ion-color-neutral50);
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      padding-left: 16px;

      &__text {
        margin-top: 14px;
      }

      &__close {
        margin-top: 11px;
      }
    }

    &__content {
      min-height: 330px;

      &__item {
        --background: transparent;
      }
    }
  }
}
