:host {
  .cp {
    --background: var(--ion-color-neutral10);

    &__content {
      .op {
        &__card {
          &__token {
            img {
              max-width: 32px;
            }
          }
        }
      }
    }

    &__transfer-confirm-card {
      margin-top: 24px;
    }

    &__disclaimer {
      position: static;
      width: 296px;
      height: 108px;
      left: 0;
      top: 550px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 24px 0;
      color: var(--ion-color-neutral80);
    }
  }

  .button-next {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 16px;
    padding: 0 20px;
  }
}
