:host {
  .ws {
    --background: var(--ion-color-neutral10);


    app-warranty-summary-card {
      margin-top: 0;
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;
        flex-direction: column;

        &__button {
          flex-grow: 1;
        }
      }
    }
  }
}
