:host {
  .rpr {
    --ion-color-neutral10: var(--ion-color-primary-contrast);

    background: var(--ion-color-primary-contrast);

    &__title {
      margin-top: 24px;

      ion-text {
        color: var(--ion-color-primary);
      }
    }

    &__text {
      margin-top: 16px;

      ion-text {
        color: var(--ion-color-neutral90);
      }
    }

    &__phrase-card {
      margin-top: 16px;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
}
