.fs {
  &__title {
    margin-top: 8px;
  }

  &__fund-info {
    margin-top: 24px;

    &__list {
      margin-top: 8px;
    }
  }

  &__fund-modify {
    margin-top: 24px;

    &__list {
      margin-top: 8px;
    }
  }

  &__fund-finish-pause-card {
    margin-top: 24px;
  }
}
