:host {
  width: 100%;

  .iu {
    background: var(--ion-color-white);

    --ion-color-neutral10: var(--ion-color-white);

    &__item {
      --min-height: 25px;
      --padding-start: 0;
      --inner-padding-end: 0;

      ion-input {
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
      }
    }

    &__labels {
      display: flex;
      justify-content: space-between;
    }
  }
}
