:host {
  .kod {
    &__card-container {
      &__card {
        padding: 24px 16px;

        &__coin {
          &__icon {
            width: 32px;
            height: 32px;
          }
        }

        &__amount {
          display: flex;
          justify-content: flex-end;

          &__out {
            padding: 1px;
          }
        }
      }
    }
  }
}
