:host {
  .kod {
    &__card-container {
      ion-item {
        --inner-padding-end: 0;
        --inner-padding-start: 0;
        --inner-padding-top: 10px;
        --inner-padding-bottom: 10px;
      }

      &__card {
        padding: 24px 16px;

        &__title {
          margin-bottom: 28px;
        }

        &__coin {
          display: flex;
          align-items: center;

          &__icon {
            width: 32px;
            height: 32px;
          }

          &__content {
            margin-left: 12px;

            &__name {
              margin-bottom: 4px;
            }
          }
        }

        &__amount {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          margin-left: auto;

          &__out {
            margin-bottom: 2px;
          }

          &__in {
            ion-text {
              color: var(--ion-color-neutral80);
            }
          }
        }
      }
    }
  }
}
