:host {
  .sco {
    &__toggle {
      margin-top: 24px;

      &__toggle {
        margin-right: 8px;

        --background-checked: var(--ion-color-info);
      }

      &__labels {
        display: grid;
        margin-left: 16px;

        ion-text:first-child {
          color: var(--ion-color-primary);
        }

        ion-text:last-child {
          color: var(--ion-color-neutral80);
        }
      }
    }

    &__inactivity {
      margin-top: 24px;

      &__labels {
        display: grid;
        margin-left: 16px;
      }
    }

    &__password-change {
      margin-top: 40px;

      &__labels {
        display: flex;
        margin-left: 16px;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        ion-button {
          text-decoration: none !important;
          margin-right: -8px;
        }
      }
    }
  }
}
