:host {
  .sco {
    &__toggle {
      margin-top: 24px;

      &__toggle {
        margin-right: 8px;

        --track-background-checked: var(--ion-color-info);
      }

      &__labels {
        display: grid;
        margin-left: 16px;

        ion-text:first-child {
          color: var(--ion-color-primary);
        }

        ion-text:last-child {
          color: var(--ion-color-neutral80);
        }
      }
    }

    &__inactivity {
      margin-top: 24px;

      &__labels {
        display: grid;
        margin-left: 16px;
      }

      &__radio-group {
        --background: var(--ion-color-white);

        ion-item {
          --inner-border-width: 0;

          margin-left: -12px;
          margin-top: 8px;
        }

        ion-radio {
          --color-checked: var(--ion-color-info);
          --color: var(--ion-color-info);
        }

        ion-label {
          --color: var(--ion-color-neutral90);
        }
      }
    }

    &__password-change {
      margin-top: 24px;

      &__labels {
        display: flex;
        margin-left: 16px;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        ion-button {
          text-decoration: none !important;
          margin-right: -8px;
        }
      }
    }
  }
}
