:host {

  .ux-error {
    &__item {
      --min-height: 0px;
      --padding-start: 0px;
      margin-top: 8px;
      &__message {
        font-family: var(--ux-font-lato);
        font-weight: 400;
        margin: 0;
        color: var(--ion-color-uxdanger);
        font-size: 12px;
      }

    }
  }
  .ux-error.nonActiveError {
    display: none;
  }
  .activeError:first-of-type {
    display: none;
    color: blueviolet !important;
  }
}