.ic {
  padding-top: 16px;
  background-color: white;
  &__label {
    color: var(--ion-color-uxprimary);
  }
  ion-input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    --background: white;
  }

  ion-item::part(native) {
    padding-left: 13px;
  }

  &__image {
    margin-right: 8px;
  }
  &__item {
    margin-top: 8px;
    height: 100%;
    border: 1px solid;
    border-color: var(--ion-color-semi);
    box-sizing: border-box;
    border-radius: 4px;
    --background: white;
    --inner-border-width: 0;
    --highlight-background: #ffffff;
    color: var(--ion-color-uxdark);

    &.item-has-focus {
      border: 1px solid var(--ion-color-uxsecondary);
      --background: #ffffff;
    }

    ion-button::part(native) {
      background-color: transparent !important;
      --background-activated: transparent;
    }

    &__copy_icon {
      background: transparent;
      ion-icon {
        background: transparent;
        font-size: 22px;
        color: #00000061;
      }
      outline: none !important;
    }
  }
}
