:host {
  .rp {
    &__help-text {
      margin-top: 6px;

      &__validator {
        display: flex;
        width: 100%;
        align-items: flex-start;

        img,
        ion-icon {
          margin-right: 6px;
        }

        ion-text {
          color: var(--ion-color-dangerdark) !important;
        }
      }
    }

    &__title {
      padding: 16px 16px 20px 0;
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;

        &__button {
          flex-grow: 1;
        }
      }
    }
  }
}
