:host {
  .upi {
    &__container {
      &__progress {
        height: 9px;
        background: var(--ion-color-neutral50);
      }

      &__provider {
        background-color: #f28d27;
        text-align: center;
        color: var(--ion-color-white);
        padding: 4px 0;
      }

      &__title {
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
      }

      &__form {
        padding-left: 16px;
        padding-right: 16px;

        &__document {
          display: flex;

          &__input-select {
            width: 35%;
          }

          &__input {
            width: 65%;
            margin-left: 11px;
            margin-top: 19px;
          }
        }

        &__phone {
          display: flex;

          &__input-select {
            width: 40%;
          }

          &__input {
            width: 60%;
            margin-left: 11px;
            margin-top: 2px;
          }
        }
      }
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px 8px 0 0;
    }
  }
}
