:host {
  .ws {
    &__help {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__tertiary-text {
        display: flex;
        gap: 8px;
      }

      ion-button {
        margin-top: -4px;
      }
    }
  }
}
