:host {
  .ux-card {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .item-container {
    display: flex;
    align-items: center;

    ion-button {
      color: var(--ion-color-neutral90);
    }
  }

  .new-badge {
    border-radius: 4px;

    --background: var(--ion-color-warninglight);
    --color: var(--ion-color-warningdark);
  }

  .card-title {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 16px;

    ion-text {
      color: var(--ion-color-primary);
    }

    ion-button {
      color: var(--ion-color-primary);
    }

    &__text {
      margin-left: 12px;
    }

    &__button {
      margin: 0 0 0 12px;
      height: 20px;
    }

    &__legend {
      display: flex;
      align-items: center;
      margin: 0 16px 0 auto;

      ion-icon {
        margin-right: 4px;
        width: 8px;
        height: 8px;
      }
    }

    ion-button::part(native) {
      padding-inline-start: 0;
      padding-inline-end: 0;
      border-radius: 0;
    }

    &__img {
      width: 20px;
      max-height: 20px;
    }
  }
}
