.maa {
  &__body {
    padding-top: 24px;
    text-align: center;

    &__content {
      padding: 0 16px;

      &__title {
        ion-label {
          font-size: 20px;
          line-height: 23px;
          text-align: center;
        }

        margin-bottom: 16px;
      }

      &__description {
        margin-bottom: 24px;
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: 24px;
    border-top: 1px solid #eee;

    &__button {
      flex-basis: 50%;
      text-decoration: none;

      &-back {
        color: var(--ion-color-neutral80);
      }
    }
  }
}
