:host {
  .fc {
    &__title {
      margin-top: 8px;
    }

    &__text_before {
      margin-top: 16px;
    }

    &__input {
      margin-top: 8px;
    }

    &__alert {
      margin-top: 24px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
}
