:host {
  .ric {
    &__referrals-list {
      margin-top: 8px;

      &__label {
        margin-top: 24px;
      }

      &__accepted {
        margin-right: 10px;
        margin-top: 6px;
      }
    }
  }
}
