.summary {
  padding: 8px 16px;

  &__amount {
    margin-bottom: 24px;

    &__label {
      margin-bottom: 4px;
    }

    &__qty {
      display: flex;
      justify-content: space-between;
    }
  }
}
