:host {
  .ik {
    &__title {
      margin-top: 8px;
    }

    &__text_before {
      margin-top: 16px;
    }

    &__ak_input {
      margin-top: 8px;
    }

    &__submit_button {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
    }

    &__use-qr {
      display: flex;

      &__input {
        flex-grow: 1;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        ion-button {
          margin: 0;
          --padding-start: 8px;
          --padding-end: 5px;
        }
      }
    }

    &__need-help {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .main {
    margin-top: 8px;
    overflow: auto;

    &__go_to_register {
      margin-top: 8px;
    }
  }

  .container {
    height: 100%;
    width: 100%;
  }
}
