:host {
    background: white;
  .crm {
      background: white;
    &__buttons {
        display: flex;
        justify-content: flex-end;

        &__cancel {
            color: #00000061;
            min-width: 0;
        }

        &__confirm {
            min-width: 0;
        }
    }

  }
}
