:host {
  .ux_toolbar {
    --border-width: 0;
    --border-color: transparent;

    ion-icon {
      right: 17px;
      position: absolute;
      font-size: 27px;
      z-index: 1;
      margin-top: 4px;
    }
  }

  .tp {
    &__title {
      margin-left: 16px;
      margin-bottom: 16px;
      margin-top: 23.5px;
    }
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  ion-content {
    --background: #f7f8ff;
  }

  .tool-card {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }

  .financial-planner-card {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;

    .card-objetive {
      margin-top: 4px;
    }

    .title {
      ion-text {
        color: var(--ion-color-neutral80) !important;
      }
    }
  }
}
