:host {
  .sw {
    --background: var(--ion-color-background);

    form {
      margin-bottom: 20px;
    }

    &__send-amount-card {
      margin-top: 8px;

      &__title {
        margin-bottom: 8px;
      }
    }

    &__support {
      margin-top: auto;
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;

        &__button {
          flex-grow: 1;
        }
      }
    }
  }

  .no-border {
    border: none;
    box-shadow: 0 2px 8px rgb(28 45 94 / 10%);
  }
}
