:host {
  .hidden {
    visibility: hidden !important;
  }

  .wcnc {
    background: var(--ion-color-white);
    border-radius: 8px;
    padding: 24px 16px;

    &__radio_group {
      --background: var(--ion-color-white);

      ion-item,
      ion-label,
      ion-radio {
        --background: var(--ion-color-white);

        &.ux-error__item {
          --background: transparent;
        }
      }

      ion-item {
        --background-hover-opacity: 0.03;
        --inner-border-width: 0;

        min-height: 51px;
        background: white;
        display: flex;
        margin-left: -16px;

        &.ux-error__item {
          background: transparent;
          min-height: 10px;
        }
      }

      .item-label {
        font-family: var(--ux-font-lato);
        font-size: 14px;
        color: #000000de;
      }

      ion-radio {
        --color-checked: var(--ion-color-secondary);
        --color: #00000029;
      }
    }

    &__qr_input {
      margin-top: 15px;

      ion-item {
        --background-hover-opacity: 0.03;
        --inner-border-width: 0;

        min-height: 51px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid var(--ion-color-neutral80);
        border-radius: 4px;

        &.ux-error__item {
          background: transparent;
          min-height: 10px;
        }
      }

      ion-icon {
        color: #4a75f7;
      }

      ion-label {
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 8px;
      }
    }

    &__disclaimer {
      display: flex;
      flex-direction: column;
      gap: 22px;
      font-size: 14px;
      font-weight: 400;
      color: var(--ion-color-neutral80);

      &__button {
        height: auto;

        --padding-start: 0 !important;

        margin-top: -5px;
      }
    }
  }
}
