:host {
  justify-content: center;

  .main {
    &__body {
      padding-top: 24px;
      text-align: center;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 16px;
      }

      ion-item {
        align-items: flex-start;
        margin-top: 16px;

        ion-checkbox {
          margin-right: 8px;
        }
      }
    }

    &__actions {
      display: flex;
      margin-top: 24px;
      border-top: 1px solid #eee;

      &__button {
        flex-basis: 50%;
        text-decoration: none;

        &-back {
          color: var(--ion-color-neutral80);
        }
      }
    }
  }

  .title {
    font-size: var(--ux-fsize-20);
  }

  .button-disabled {
    color: var(--ion-color-neutral50);
  }
}
