:host {
  .nr {
    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 70px;
      padding-left: 70px;
      margin-top: 40px;

      &__image {
        width: 100%;
      }
    }

    &__title {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__subtitle {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__form {
      margin-top: 24px;
    }

    &__submit-button {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-button {
        width: 100%;
      }
    }
  }
}
