:host {
  .word {
    --border-radius: 14px;
    height: 40px;
    --padding-start: 12px;
    --padding-end: 12px;
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-12);
    font-weight: var(--ux-fweight-bold);
  }
}
