:host {
  .ba {
    &__toggle {
      margin-top: 26px;

      &__toggle {
        --track-background-checked: var(--ion-color-info);
      }

      &__labels {
        display: grid;
        margin-left: 16px;

        ion-text:first-child {
          color: var(--ion-color-primary);
        }

        ion-text:last-child {
          color: var(--ion-color-neutral80);
        }
      }
    }
  }
}
