:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .cc {
    &__progress {
      height: 9px;
      background: var(--ion-color-neutral50);
    }

    &__provider {
      background-color: var(--ion-color-alt-6);
      text-align: center;
      color: var(--ion-color-white);
      padding: 4px 0;
    }

    &__container {
      &__description {
        margin-top: -8px;
        margin-left: -16px;

        ion-text {
          color: var(--ion-color-primary);
        }
      }

      &__image {
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }

        border: 2px dashed var(--ion-color-info);
        display: flex;
        border-radius: 8px;
        margin-top: 24px;
        text-align: center;
      }
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__confirmation {
        display: flex;
        padding: 12px 16px 0;

        &__button {
          flex-grow: 1;
        }
      }

      &__upload-button {
        display: flex;
        padding: 0 16px 24px;

        ion-button {
          border: none;
        }

        &__button {
          flex-grow: 1;
        }
      }
    }
  }
}
