:host ::ng-deep {
  .ux_dds {
    padding-top: 16px;
    &__label {
      font-weight: 600;
      font-size: 12px;
      font-family: var(--ux-font-lato);
      color: #0000008a; // Color negro con opacity 0.54
    }
    ion-item {
      &.item-select {
        height: 100%;
        border: 1.5px solid #0000000a;
        border-radius: 7px;
        --background: #0000000a;
        --inner-border-width: 0;
        --highlight-background: none;

        ion-select {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    div {
      &.popover-content {
        --width: 92%;
        width: 92%;
        left: 6px;
        border-radius: 0;
      }
    }
    .popover-arrow {
      display: none;
    }
  }
}
