:host {
  width: 100%;

  .ffp {
    background-color: var(--ion-color-uxlight);
    border-radius: 8px;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 16px;
      padding-bottom: 16px;

      &__right {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__left {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__division {
        width: 1px;
        height: 47px;
        background-color: #00000029;
      }
    }
  }

  ::ng-deep.custom-button {
    &__icon {
      width: 20px;
      height: 20px;
    }
    &__label {
      margin-top: 8px;
      display: block;
    }
  }
}

