:host {
  ion-card {
    width: 130px;
    height: 110px;
    padding-top: 30px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .input-card {
    border-bottom: 1px solid grey;
    padding-top: 50%;
  }

  .label-card {
    align-items: center;
  }
}
