:host {
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
      flex: 1 0 auto;
      &__fiscal_data_title {
        margin-top: 8px;
      }

      &__fiscal_data_not_sure_text {
        margin-top: 16px;
        margin-bottom: 8px;
      }
    }
    &__sticky_footer {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: normal;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
.emoji {
  background-color: red;
}
}
