:host ::ng-deep {
  width: 100%;
  --ion-background-color: var(--ion-color-uxlight);
  .foc {
    border-radius: 8px;
    --inner-border-width: 0px;
    display: flex;
    &__date {
      --inner-border-width: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      flex-basis: 50%;

      &__datetime-section {
        min-width: 112px;
        display: flex;
        border: 0.5px solid #bababa;
        border-radius: 3px;
        ion-datetime {
          padding: 8px;
        }
        ion-icon {
          padding: 6px;
          height: inherit;
        }
      }
    }
  }
}
