:host {
  ion-select::part(icon) {
    display: none !important;
  }

  .ns {
    padding-top: 16px;

    &__label {
      font-family: var(--ux-font-lato);
      font-size: var(--ux-fsize-16);
      font-weight: var(--ux-fweight-regular);
      color: var(--ion-color-neutral80);
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
    }

    &__item {
      height: 100%;
      border: 1px solid var(--ion-color-neutral80);
      border-radius: 4px;
      margin-top: 8px;

      --background: var(--ion-color-neutral10);
      --inner-border-width: 0;
      --highlight-background: none;

      &.item-has-focus {
        border: 1.5px solid var(--ion-color-neutral80);

        --background: var(--ion-color-white);
      }

      &__arrow_icon {
        width: 14px;
        margin-right: 10px;
        color: var(--ion-color-info);
      }
    }
  }
}
