:host {
  .si {
    background-color: var(--ion-background-colorwhite);
    --background: url('../../../../../../assets/img/wallets/start-investing-background.svg') no-repeat fixed;
    box-shadow: none;
    background-position-x: calc(100% + 8px);
    height: 116px;
    border: 1px solid var(--ion-color-uxprimary);

    &__title {
    }

    &__link {
    }
  }
}
