/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Custom CSS */
.stepper-card {
  margin-top: -4rem;
  box-shadow: none;
}

ion-picker {
  touch-action: none;
}

.hidden {
  --ion-background-color: transparent;
  background-color: transparent;
}

.hidden-visibility {
  visibility: hidden !important;
}

.transparent-background {
  --ion-background-color: transparent !important;
}

ion-toast.refresher_toast {
  top: 86%;
}

:root {
  //Tipografias Antiguas
  .ux-font-gilroy {
    font-family: var(--ux-font-gilroy);
  }

  .ux-font-lato {
    font-family: var(--ux-font-lato);
  }

  // Weight
  .ux-fweight-regular {
    font-weight: 400;
  }

  .ux-fweight-semibold {
    font-weight: 600;
  }

  .ux-fweight-bold {
    font-weight: 700;
  }

  .ux-fweight-extrabold {
    font-weight: 800;
  }

  // Size
  .ux-fsize-8 {
    font-size: 8px;
  }

  .ux-fsize-10 {
    font-size: 10px;
  }

  .ux-fsize-11 {
    font-size: 11px;
  }

  .ux-fsize-12 {
    font-size: 12px;
  }

  .ux-fsize-14 {
    font-size: 14px;
  }

  .ux-fsize-15 {
    font-size: 15px;
  }

  .ux-fsize-16 {
    font-size: 16px;
  }

  .ux-fsize-18 {
    font-size: 18px;
  }

  .ux-fsize-20 {
    font-size: 20px;
  }

  .ux-fsize-22 {
    font-size: 22px;
  }

  .ux-fsize-24 {
    font-size: 24px;
  }

  .ux-fsize-40 {
    font-size: 40px;
  }

  // Tipografías Nuevas
  .ux-font-text-xxs {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-12);
    font-weight: var(--ux-fweight-bold);
  }

  .ux-font-text-xs {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-14);
    font-weight: var(--ux-fweight-regular);
    color: var(--ion-color-uxsemidark);
  }

  // Texto normal
  .ux-font-text-base {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-16);
    font-weight: var(--ux-fweight-regular);
    color: var(--ion-color-uxsemidark);
  }

  // Título
  .ux-font-text-lg {
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-18);
    font-weight: var(--ux-fweight-semibold);
    color: var(--ion-color-uxdark);
  }

  // Subtítulos
  .ux-font-subheading {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-14);
    font-weight: var(--ux-fweight-semibold);
    color: var(--ion-color-uxsemidark);
    text-transform: uppercase;
  }

  .ux-font-text-xl {
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-22);
    font-weight: var(--ux-fweight-extrabold);
    color: var(--ion-color-uxdark);
  }

  .ux-font-num-titulo {
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-40);
    font-weight: var(--ux-fweight-semibold);
  }

  .ux-font-num-subtitulo {
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-17);
    font-weight: var(--ux-fweight-semibold);
  }

  .ux-font-header-titulo,
  .ux_toolbar ion-title {
    font-family: var(--ux-font-worksans);
    font-size: var(--ux-fsize-16);
    font-weight: var(--ux-fweight-semibold);
    color: var(--ion-color-uxdark);
  }

  // Header pantallas
  .ux_toolbar ion-title {
    color: var(--ion-color-uxlight);
    text-align: center;
  }

  .ux-font-input-label {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-14);
    font-weight: var(--ux-fweight-regular);
    color: var(--ion-color-uxsemidark);
  }

  .ux-font-form-errors {
    font-family: var(--ux-font-lato);
    font-size: var(--ux-fsize-12);
    font-weight: var(--ux-fweight-regular);
    color: var(--ion-color-uxdanger);
  }

  .ux-font-button,
  .ux_button {
    text-transform: none;
    font-family: var(--ux-font-lato);
    font-weight: var(--ux-fweight-semibold);
    font-size: var(--ux-fsize-15);
  }

  .ux-font-button-small {
    text-transform: none;
    font-family: var(--ux-font-lato);
    font-weight: var(--ux-fweight-semibold);
    font-size: var(--ux-fsize-12);
  }

  .ux-font-badge-primary,
  .ux_badge_primary {
    text-transform: uppercase;
    --color: var(--ion-color-uxprimary);
    font-family: var(--ux-font-worksans);
    font-weight: var(--ux-fweight-extrabold);
    font-size: var(--ux-fsize-10);
  }

  .ux-font-badge-coming,
  .ux_badge_coming {
    font-family: var(--ux-font-lato);
    font-weight: var(--ux-fweight-semibold);
    font-size: var(--ux-fsize-12);
    --color: rgb(114, 62, 163);
  }

  // Estilo de la toolbar para botones ux
  .ux_button {
    --border-radius: 7px;
    height: 48px;
    min-width: 116px;
  }

  ion-button {
    --ion-color-shade: var(--ion-color-base) !important;
    --background-focused: var(--ion-color-base) !important;
  }

  // Estilo de la toolbar para el diseño ux
  .ux_toolbar {
    --min-height: 60px;
  }

  // Badge color naranja para la opcion mas seleccionada
  .ux_badge_primary {
    border-radius: 4px;
    height: 21px;
    --background: #ff910033;
    --padding-top: 6px;
  }

  //Badge Proximamente - Violeta
  .ux_badge_coming {
    border-radius: 3px;
    height: 21px;
    --background: rgba(187, 107, 217, 0.4);
    --padding-top: 6px;
    --padding-bottom: 6px;
    line-height: 9.6px;
  }

  // Clase para que el modal no sea en pantalla completa, sino un alert
  .ux_modal_crm {
    --max-height: 195px;
    --max-width: 85%;
    .modal-wrapper {
      border-radius: 4px;
    }
  }

  .ux_modal_stop_loss {
    --max-height: 200px;
    --max-width: 85%;
    .modal-wrapper {
      border-radius: 10px;
    }
  }

  .ux-modal-informative {
    --max-height: 310px;
    --max-width: 85%;
    .modal-wrapper {
      border-radius: 16px;
    }
  }

  .ux-modal-no-apikeys {
    --max-height: 378px;
    --max-width: 85%;

    .modal-wrapper {
      background-color: var(--ion-background-colorwhite);
      border-radius: 8px;
    }
  }

  .ux-modal-apikeys-tutorial-no-binance-account {
    --max-height: 337px;
    --max-width: 89%;

    .modal-wrapper {
      background-color: var(--ion-background-colorwhite);
      border-radius: 8px;
    }
  }

  .ux-modal-apikeys-tutorial-no-apikeys {
    --max-height: 549px;
    --max-width: 89%;

    .modal-wrapper {
      margin-top: 76px;
      background-color: var(--ion-background-colorwhite);
      border-radius: 8px;
    }
  }

  // Modal como swippeable
  .ux-routeroutlet-modal {
    .modal-wrapper {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .full-screen-modal {
    .modal-wrapper {
      margin-top: 120px;

      .ion-page {
        padding-bottom: 60px;
      }
    }
  }

  // Portfolio Modal swippeable
  .generic-modal {
    .modal-wrapper {
      margin-top: 46vh;

      .ion-page {
        padding-bottom: calc(46vh / 2);
      }
    }
  }

  //modal alertas
  .ux-alert {
    &.bottom {
      align-items: flex-end;
    }

    .modal-wrapper {
      border-radius: 6px;
      position: absolute;
      bottom: 79px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.18);
    }
    --height: auto;
    --max-width: 344px;

    .ion-page {
      position: relative;
      display: block;
      contain: content;

      .inner-content {
        max-height: 80vh;
        overflow: auto;
        // padding: 10px;
      }
    }
  }
  //modal alertas success
  .ux-alert-success {
    --max-height: 52px;
    --max-width: 344px;
    --background: white;
    .modal-wrapper {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      position: absolute;
      bottom: 8.5%;
    }
  }
  //modal alerta atention
  .ux-alert-atention {
    --max-height: 120px;
    --max-width: 344px;
    --background: white;
    .modal-wrapper {
      border-radius: 6px;
      position: absolute;
      bottom: 8.5%;
    }
  }
  //modal alerta information
  .ux-alert-information {
    --max-height: 85px;
    --max-width: 344px;
    --background: white;
    .modal-wrapper {
      border-radius: 6px;
      position: absolute;
      bottom: 8.5%;
    }
  }
  //modal alerta items
  .ux-alert-items-error {
    --max-height: 144px;
    --max-width: 340px;
    --background: white;
    .modal-wrapper {
      border-radius: 6px;
      position: absolute;
      bottom: 8.5%;
    }
  }

  .ux-alert-small-text {
    --ion-font-family: var(--ux-font-lato);
    --ion-text-color: var(--ion-color-uxdark);

    .alert-head {
      padding-bottom: 16px;
    }

    .alert-title {
      font-weight: var(--ux-fweight-bold);
      font-size: var(--ux-fsize-15);
    }

    .alert-message {
      font-size: var(--ux-fsize-14);
      font-weight: var(--ux-fweight-regular);
      padding-bottom: 8px;
    }

    .alert-button {
      font-size: var(--ux-fsize-14);
    }
  }

  .ux-wallet-error-alert {
    --max-height: 145px;
    --max-width: 302px;
    --ion-font-family: var(--ux-font-lato);
    --ion-text-color: var(--ion-color-uxdark);

    .alert-head {
      padding-bottom: 12px;
    }

    .alert-title {
      font-weight: var(--ux-fweight-bold);
      font-size: var(--ux-fsize-18);
    }

    .alert-message {
      font-size: var(--ux-fsize-14);
      font-weight: var(--ux-fweight-regular);
      padding-bottom: 12px;
    }

    .alert-button {
      font-weight: var(--ux-fweight-bold);
      font-size: var(--ux-fsize-18);
    }
  }

  // Share Chart Modal swippeable
  .share-chart-modal {
    .modal-wrapper {
      margin-top: 35vh;

      .ion-page {
        padding-bottom: calc(35vh / 2);
      }
    }
  }

  // Apikeys Modal swippeable
  .apikeys-modal {
    .modal-wrapper {
      margin-top: calc(100vh - 240px);
      height: 256px;
    }
  }

  // Loading
  .ux-loading {
    --background: transparent;
    --backdrop-opacity: 0.6;
    backdrop-filter: blur(8px);
    ion-backdrop {
      background-color: white;
    }
    .loading-wrapper {
      background-image: url('/assets/img/loading/loading-spinner.svg');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      min-width: 90px;
      min-height: 90px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }

  // Fix para back button
  ion-back-button {
    --margin-start: 7px;
  }

  // Divider de la lista de items/radio
  .list-divider {
    height: 1px;
    width: calc(100% - 32px);
    margin: 0 16px 0 16px;
    content: '';
    background-color: #0000000a;
  }
  // Con estas clases dentro del ion-content se logra el sticky footer
  .ux_main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .ux_content {
    flex: 1 0 auto;
  }

  .ux_footer {
    flex-shrink: 0;
  }

  .picker-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .picker-toolbar-cancel > button,
  .picker-toolbar-button > button {
    color: var(--ion-color-uxprimary);
    font-weight: var(--ux-fweight-bold);
  }
}
