/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* Custom CSS */
.stepper-card {
  margin-top: -4rem;
  box-shadow: none;
}

:root {
  // Font family, weight, size
  // Family
  .ux-font-gilroy {
    font-family: var(--ux-font-gilroy);
  }
  
  .ux-font-lato {
    font-family: var(--ux-font-lato);
  }
  
  // Weight
  .ux-fweight-regular {
    font-weight: 400;
  }
  
  .ux-fweight-semibold {
    font-weight: 600;
  }
  
  .ux-fweight-bold {
    font-weight: 700;
  }
  
  .ux-fweight-extrabold {
    font-weight: 800;
  }
  
  // Size
  .ux-fsize-10 {
    font-size: 10px;
  }

  .ux-fsize-12 {
    font-size: 12px;
  }

  .ux-fsize-14 {
    font-size: 14px;
  }

  .ux-fsize-16 {
    font-size: 16px;
  }

  .ux-fsize-18 {
    font-size: 18px;
  }

  .ux-fsize-20 {
    font-size: 20px;
  }

  .ux-fsize-22 {
    font-size: 22px;
  }

  .ux-fsize-24 {
    font-size: 24px;
  }

  .ux-fsize-40 {
    font-size: 40px;
  }
  
  // Estilo de la toolbar para botones ux
  .ux_button {
    --border-radius: 7px;
    font-family: var(--ux-font-lato);
    font-weight: 600;
    font-size: 15px;
    text-transform: none;
    height: 48px;
    min-width: 116px;
  }

  // Estilo de la toolbar para el diseño ux
  .ux_toolbar {
    --min-height: 60px;
    ion-title {
      font-family: var(--ux-font-gilroy);
      font-weight: 800;
      font-size: 16px;
    }
  }

  // Badge color nararnja para la opcion mas seleccionada
  .ux_badge_primary {
    border-radius: 4px;
    height: 21px;
    --background: #ff910033;
    --color: var(--ion-color-uxprimary);
    --padding-top: 6px;
    text-transform: uppercase;
    font-family: var(--ux-font-gilroy);
    font-weight: 800;
    font-size: 10px;
  }

  // Clase para que el modal no sea en pantalla completa, sino un alert
  .ux_modal_crm {
    --max-height: 195px;
    --max-width: 85%;
    .modal-wrapper {
      border-radius: 4px;
    }
  }

  // Fix para back button
  ion-back-button {
    --margin-start: 7px;
  }

  // Con estas clases dentro del ion-content se logra el sticky footer
  .ux_main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .ux_content {
    flex: 1 0 auto;
  }

  .ux_footer {
    flex-shrink: 0;
  }
}
