:host {
  .ux_checkbox_container {
    width: fit-content;
    margin-top: 10px;

    &__item {
      --padding-start: 2px;
      --border-color: transparent;
      --background-activated: transparent;
      --min-height: 24px;
      --min-width: 24px;
    }
  }

  ion-checkbox {
    --size: 18px;

    margin-right: 12px;
  }
}
