:host {
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__personal_data_title {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &__content {
      flex: 1 0 auto;
    }
    &__sticky_footer {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 16px;
    }
  }
}
