:host {
  .foh {
    &__header-title {
      margin-top: -10px;
    }
    &__header-fund {
      margin-top: 10px;
      font-weight: 500;
    }
    &__header-button {
      text-align: right;
      display: block;
    }
  }
  .fodc {
    margin-top: 25px;
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      div {
        flex-basis: 100%;
      }
      &__symbol {
        margin-right: 2px;
      }
      &__buy {
        color: #96d8bd;
        font-size: 7.5px;
      }
      &__sell {
        color: #eba3ac;
        font-size: 7.5px;
      }
    }
    &__content {
      &__block {
        display: flex;
        flex-direction: column;
        &__item {
          display: flex;
          width: 100%;
          font-size: 12px;
          color: var(--ion-color-uxmedium);
          --min-height: 19px;
        }
        &__item>ion-text{
          color: var(--ion-color-uxdark);
        }
      }
    }
    &__content>ion-item-group{
      margin: 10px 0px;
    }
    &__align_left {
      text-align: left;
    }
    &__align_right {
      text-align: right;
    }
    &__margin {
      margin-top:0px;
      margin-bottom:0px;
    }
  }
}
