:host {
  .skl_dip {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 8px;

    &__content {
      background: var(--ion-color-white);
      border-radius: 8px;
      border: 0.5px solid var(--ion-color-neutral50);
      padding: 16px 12px;
      background-size: cover !important;

      &__content_1 {
        display: flex;
        align-items: center;

        &__avatar {
          display: inline;
          align-items: center;
          padding-top: 5px;
          padding-right: 12px;
        }

        &__title_and_subtitle {
          flex-basis: 82%;
          display: flex;
          flex-direction: column;

          &__title {
            height: 18px;
            border-radius: 8px;
          }
        }

        &__subtitle {
          display: inline-flex;
          width: 54px;
          border-radius: 8px;
          height: 12px;

          &_1 {
            width: 54px;
            border-radius: 8px;
            height: 12px;
            margin-top: 22px;
          }
        }
      }

      &__content_2 {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        &__title_and_subtitle {
          ion-skeleton-text {
            margin: 0;
          }

          display: flex;
          flex-direction: column;
          margin: 0;

          &__title {
            width: 61px;
            height: 18px;
            border-radius: 8px;
          }
        }

        &__subtitle {
          ion-skeleton-text {
            margin: 0;
          }

          margin-top: 4px;
          width: 54px;
          height: 12px;
          border-radius: 8px;

          &__2 {
            margin-top: 22px;
            width: 54px;
            height: 12px;
            border-radius: 8px;
          }
        }

        &__amount {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          ion-skeleton-text {
            margin: 0;
          }

          &_1 {
            height: 18px;
            width: 61px;
            border-radius: 8px;
          }

          &_2 {
            height: 12px;
            width: 82px;
            border-radius: 8px;
            margin-top: 4px;
          }
        }
      }
    }

    &__footer {
      border-top: none !important;
      background: var(--ion-color-white);
      display: flex;
      align-items: center;
      border: 0.5px solid var(--ion-color-neutral50);
      border-radius: 0 0 8px 8px;
      padding: 12px;
      justify-content: space-between;

      &__badge {
        --background: var(--ion-color-successlight);
        --color: var(--ion-color-successdark);
        --height: 12px;
      }

      &__button {
        ion-skeleton-text {
          width: 120px;
          height: 45px;
          border-radius: 8px;
        }
      }
    }
  }
}
