:host {
  .cp {
    &__title {
      margin-top: 16px;
      margin-bottom: 8px;
      margin-left: 16px;
    }

    &__causes {
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
