:host {
  justify-content: center;

  .lbam {
    min-width: 328px;

    &__content {
      padding-bottom: 18px;

      &__title {
        margin-top: 8px;
        width: 100%;
        text-align: center;

        ion-text {
          font-size: var(--ux-fsize-20);
          line-height: 23.46px;
          color: var(--ion-color-primary);
        }
      }

      &__text {
        margin-top: 16px;
        width: 100%;
        text-align: center;

        ion-text {
          color: var(--ion-color-neutral90);
        }
      }

      &__checkbox {
        margin-top: 18px;

        ion-item {
          --min-height: 24px;
          --inner-padding-bottom: 0;
          --inner-padding-top: 0;
          --inner-padding-start: 0;
          --inner-padding-end: 0;
          --padding-bottom: 0;
          --padding-top: 0;
          --padding-start: 0;
          --padding-end: 0;
          --background-hover: transparent;
          --background: transparent;

          ion-label {
            color: var(--ion-color-uxdark);
            margin: 0;
          }

          ion-checkbox {
            --border-radius: 15%;
            --border-width: 2px;
            --border-style: solid;
            --border-color: var(--ion-color-infoligt);
            --checkbox-background: #fff;
            --size: 18px;
            --checkmark-width: 2px;

            color: var(--ion-color-info);
            margin: 0 8px 0 0;
          }
        }
      }
    }

    &__buttons {
      display: flex;
      text-align: center;

      &__confirm-button {
        border-top: 1px solid #eee;
        width: 50%;

        ion-button {
          color: var(--ion-color-info);
        }
      }

      &__close-button {
        border-top: 1px solid #eee;
        width: 50%;

        ion-button {
          color: var(--ion-color-neutral80);
        }
      }
    }
  }
}
